<% if @piece.white %>
<h1>Show Page for White <%= @piece.type %></h1>
<% else %>
<h1>Show Page for Black <%= @piece.type %></h1>
<% end %>

<br />
<br />

<div class="chessboard">
  <% (0..7).each do |col| %>
    <% (0..7).each do |row| %>
      <% if (row == @piece.location_x) && (col == @piece.location_y) %>
        <% if ((row % 2 == 0) && (col % 2 == 0)) || ((row % 2 != 0) && (col % 2 != 0)) %>
          <div class="white highlighted"><%= @piece.type.chars[0] %></div>
        <% else %>
          <div class="black highlighted"><%= @piece.type.chars[0] %></div>
        <% end %>
      <% else %>
        <% if ((row % 2 == 0) && (col % 2 == 0)) || ((row % 2 != 0) && (col % 2 != 0)) %>
          <%= link_to '<div class="white"></div>'.html_safe, game_piece_path(@piece.game_id, :piece => {location_x: row, location_y: col}), method: :patch %>
        <% else %>
          <%= link_to '<div class="black"></div>'.html_safe, game_piece_path(@piece.game_id, :piece => {location_x: row, location_y: col}), method: :patch %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>