<h3><%= @game.game_name %></h3>
<%= link_to 'Join Game', game_path(@game), method: :patch, class: 'btn btn-primary' %>

<% if current_user && current_user == @game.white_player %>
  <%= link_to 'Delete Game', game_path(@game), method: :delete, data: {confirm: 'Are you SURE you want to delete this game?'}, class: 'btn btn-danger' %>
<% end %>
<br /><br />

<div class="chessboard">
  <% (0..7).each do |col| %>
    <% (0..7).each do |row| %>
      <% @piece = @game.pieces.find_by(location_x: row, location_y: col) %>
        <% if @piece.nil? %>
          <% if ((row % 2 == 0) && (col % 2 == 0)) || ((row % 2 != 0) && (col % 2 != 0)) %>
            <div class="white"><%= @piece %></div>
          <% else %>
            <div class="black"><%= @piece %></div>
          <% end %>
        <% else %>
          <% if ((row % 2 == 0) && (col % 2 == 0)) || ((row % 2 != 0) && (col % 2 != 0)) %>
            <div class="white"><%= link_to @piece.type.chars[0], game_piece_path(@game.id, @piece.id) %></div>
          <% else %>
            <div class="black"><%= link_to @piece.type.chars[0], game_piece_path(@game.id, @piece.id) %></div>
          <% end %>
        <% end %>
    <% end %>
  <% end %>
</div>



